:root {
    --space: 1rem;
    --radius: 12px;
    --bg: black;
    --fg: lightpink;
    --card: white;


}

* {
    box-sizing: border-box;

}

html {
    font-size: 100%

}

body {
    margin: 0;
    font-family: system-ui, sans-serif;
    line-height: 1.5;
    background: var(--bg);
    color: var(--fg);
}

h1 {
    font-size: clamp(1.25rem, 2rem + 1rem, 2rem);
}

p, .card {
    font-size: clamp(0.55rem, 1rem + 0.5rem, 2rem);
}

.site-header, .site-footer{
    text-align: center;
    background: var(--bg);
    padding: calc(1rem + 0.5rem);
}

.container {
    display: grid;
    gap: var(--space);
    padding: var(--space);
}

.card {
    min-height: 120px;
    background: var(--bg);
    border-radius: var(--radius);
    padding:calc(var(--space) * 2);
}

img {
}

@media (min-width: 480px) {
    .container{
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (min-width: 768px){
    .container{
        grid-template-columns: repeat(3, 1fr);
    }
}

@media (min-width: 1024px) {
    .container{
        width: min(1100px, 90vw);
        margin-inline: auto;
    }
}