:root {

}

* {
}

html {
}

body {
}

h1 {
}

p, .card {
}

.site-header, .site-footer {
}

.container {
}

.card {
}

img {
}

@media (min-width: 480px) {
}

@media (min-width: 768px) {
}

@media (min-width: 1024px) {
}
